.body {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
}

.contained {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  align-items: center;
  margin: auto;
  flex-grow: 1;
  padding: 0 2rem 0 2rem;
}
